################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ApacheKafkaSampleNetCore/bin/Debug/netcoreapp3.1
/ApacheKafkaSampleNetCore/obj
/KafkaConsumer/bin/Debug/netcoreapp3.1
/KafkaConsumer/obj
